# Auth0 Configuration
AUTH0_DOMAIN=YOUR_AUTH0_DOMAIN
AUTH0_CLIENT_ID=YOUR_AUTH0_CLIENT_ID
AUTH0_CLIENT_SECRET=YOUR_AUTH0_CLIENT_SECRET

# Google Cloud Configuration
GCP_PROJECT_ID=YOUR_GCP_PROJECT_ID
GCP_BUCKET_NAME=YOUR_GCP_BUCKET_NAME

# Server Configuration
PORT=8080